<div class="page-header">
  <div class="add-item d-flex">
    <div class="page-title">
      <h4>Campaign Details List</h4>
      <!-- <h6>Manage Your Users</h6> -->
      <p-toast></p-toast>
      <!-- <button type="button" class="btn btn-primary btn-wave" id="liveToastBtn" pButton pRipple
        (click)="show()" label="Show">Show live
        toast</button>  -->
    </div>
  </div>
  <!-- <ul class="table-top-head">
      <li>
        <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Pdf" matTooltipPosition="above"><img
        src="assets/img/icons/pdf.svg" alt="img"></a>
      </li>
      <li>
        <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Excel" matTooltipPosition="above"><img
        src="assets/img/icons/excel.svg" alt="img"></a>
      </li>
      <li>
        <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Print" matTooltipPosition="above"><i
        class="feather icon-printer feather-rotate-ccw"></i></a>
      </li>
      <li>
        <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Refresh" matTooltipPosition="above" (click)="getUserDetails()"><i
        class="feather icon-rotate-ccw feather-rotate-ccw"></i></a>
      </li>
      <li>
        <a (click)="toggleCollapse()" data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Collapse"
          matTooltipPosition="above" id="collapse-header"> @if (!isCollapsed) {
          <i class="feather icon-chevron-up feather-chevron-up"></i>
        }
        @if (isCollapsed) {
          <i class="feather icon-chevron-down feather-chevron-down"></i>
        }</a>
      </li>
    </ul> -->
  <div class="page-btn">
    <button class="btn btn-added" data-bs-toggle="modal" data-bs-target="#add-units"
      (click)="openAddModal(addCampaignTemplate)">
      <i class="feather icon-plus-circle me-2"></i>Add Campaign
    </button>
  </div>
</div>

<!-- /product list -->
<div class="card table-list-card">
  <div class="card-body">
    <div class="table-top">
      <div class="search-set">
        <div class="search-input">
          <a href="javascript:void(0);" class="btn btn-searchset"><i class="feather icon-search feather-search"></i></a>
          <div class="dataTables_filter">
            <label>
              <input [(ngModel)]="searchDataValue" [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="searchData(searchDataValue)" type="search" class="form-control"
                placeholder="Search..." />
            </label>
          </div>
        </div>
      </div>
      <div class="search-path">
        <div class="d-flex align-items-center">
          <a class="btn btn-filter" id="filter_search" (click)="openFilter()" [ngClass]="{ setclose: filter === true }">
            <i class="feather icon-filter filter-icon"></i>
            <span><img src="assets/img/icons/closes.svg" alt="img" /></span>
          </a>
        </div>
      </div>
      <div class="form-sort">
        <i class="feather icon-sliders info-img"></i>
        <!-- <mat-select [(ngModel)]="selectedValue2" [ngModelOptions]="{standalone: true}" class="space-select select"
              placeholder="Sort by Date">
              <mat-option value="Sort by Date">Sort by Date</mat-option>
              <mat-option value="Newest">Newest</mat-option>
              <mat-option value="Oldest">Oldest</mat-option>
            </mat-select> -->
      </div>
    </div>
    <!-- /Filter -->
    <div class="card" id="filter_inputs" [ngClass]="{ 'd-block': filter, 'd-none': !filter }">
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="input-blocks">
              <i class="feather icon-user info-img"></i>
              <!-- <mat-select [(ngModel)]="selectedValue3" [ngModelOptions]="{standalone: true}" class="space-select select"
                    placeholder="Choose Name">
                    <mat-option value="Choose Name">Choose Name</mat-option>
                    <mat-option value="Lilly">Lilly</mat-option>
                    <mat-option value="Benjamin">Benjamin</mat-option>
                  </mat-select> -->
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="input-blocks">
              <i class="feather icon-stop-circle info-img"></i>
              <!-- <mat-select [(ngModel)]="selectedValue4" [ngModelOptions]="{standalone: true}" class="space-select select"
                    placeholder="Select User Role" (selectionChange)="onRoleTypeChange($event)">
                    <mat-option value="ALL">ALL</mat-option>
                    <mat-option *ngFor="let data of roleTypes" [value]="data.name">
                      {{ data.name }}
                    </mat-option>
                  </mat-select> -->

              <!-- <mat-select name="gender" [(ngModel)]="user.gender" [ngModelOptions]="{standalone: true}" class="select"  placeholder="Choose Status" (selectionChange)="onGenderChange($event)">
                    <mat-option *ngFor="let data of genderType" [value]="data.name">
                      {{ data.name }}
                    </mat-option>
                  </mat-select> -->
            </div>
          </div>
          <!-- <div class="col-lg-3 col-sm-6 col-12">
                <div class="input-blocks">
                  <i class="feather icon-zap info-img"></i>
                  <mat-select [(ngModel)]="selectedValue5" [ngModelOptions]="{standalone: true}" class="space-select select"
                    placeholder="Choose Role">
                    <mat-option value="Choose Role">Choose Role</mat-option>
                    <mat-option value="Store Keeper">Store Keeper</mat-option>
                    <mat-option value="Salesman">Salesman</mat-option>
                  </mat-select>
                </div>
              </div> -->
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="input-blocks">
              <a class="btn btn-filters ms-auto">
                <i class="feather icon-search feather-search"></i> Search
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Filter -->
    <div class="table-responsive">
      <table matSort (matSortChange)="sortData($event)" class="table datanew">
        <thead>
          <tr>
            <th mat-sort-header="image">Campaign Type</th>
            <th mat-sort-header="userName">Campaign Name</th>
            <th mat-sort-header="userName">Campaign Channel</th>
            <!-- <th mat-sort-header="userName">Description</th> -->
            <th mat-sort-header="status">Status</th>
            <th mat-sort-header="createdOn">Created On</th>
            <th class="no-sort">Action</th>
          </tr>
        </thead>
        <tbody>
          @for (data of tableData; track data) {
          <tr>
            <td>{{ data.campaignType }}</td>
            <td>{{ data.campaignName }}</td>
            <td>{{ data.campaignChannel }}</td>
            <!-- <td>
                            <div class="description-cell">
                                {{ data.description }}
                            </div>
                        </td> -->
            <td>
              <button class="badge-button" [ngClass]="{
                        'badge-linesuccess': data.status === 'ACTIVE',
                        'badge-linedanger': data.status === 'INACTIVE',
                        'badge-linewarning': data.status === 'PENDING'
                    }" (click)="changeStatus(data)">
                {{ data.status }}
              </button>
            </td>
            <td>{{ data.createdAt | date : "dd-MM-yyyy | HH:mm" }}</td>
            <td class="action-table-data">
              <div class="edit-delete-action">
                <!-- Delete button -->
                <a class="me-2 confirm-text p-2 mb-0" href="javascript:void(0);"
                  (click)="openDeleteModal(deleteTemplate,data)">
                  <i class="feather icon-trash-2 feather-trash-2"></i>
                </a>

                <!-- Edit button -->
                <a class="me-2 p-2 mb-0" data-bs-toggle="modal" data-bs-target="#edit-units"
                  (click)="openEditModal(editCampaignTemplate, data)">
                  <i class="feather icon-edit feather-edit"></i>
                </a>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <app-custom-pagination></app-custom-pagination>
  </div>
</div>

<!-- Add -->
<ng-template #addCampaignTemplate let-dialog>
  <div class="modalHeaderContainer">
    <h2 mat-dialog-title class="p-0">Add Campaign</h2>

    <div class="closeBtn">
      <button type="button" mat-dialog-close class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <form [formGroup]="addCompaignForm" (ngSubmit)="saveCompaignDetails()">
    <mat-dialog-content class="modalContent">
      <div class="modal-body custom-modal-body">
        <div class="card">
          <div class="card-body">
            <div class="new-employee-field">
              <div class="card-title-head">
                <h6>
                  <span><i class="feather icon-info feather-edit"></i></span>
                  Campaign Details
                </h6>
              </div>

              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Campaign Type</label>
                    <input class="form-control" type="text" formControlName="campaignType" />
                  </div>
                </div>

                <div class="col-lg-4 col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Campaign Name</label>
                    <input class="form-control" type="text" formControlName="campaignName" />
                  </div>
                </div>

                <div class="col-lg-4 col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Campaign Channel</label>
                    <mat-select formControlName="campaignChannel" class="select" placeholder="Select Campaign Channel">
                      <mat-option value="EMAIL">Email</mat-option>
                      <mat-option value="WHATSAPP">Whats App</mat-option>
                      <mat-option value="SMS">SMS</mat-option>
                    </mat-select>
                    <!-- </div> -->
                  </div>
                </div>

                <div class="col-10">
                  <label class="form-label">subject</label>
                  <input class="form-control" type="text" formControlName="subject" />
                </div>

                <div class="col-12">
                  <label class="form-label">Message</label>
                  <div class="editor-wrapper">
                    <ngx-editor [editor]="editor" formControlName="description" class="editor-container">
                    </ngx-editor>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions class="dialogAction">
      <div class="text-end mb-3 w-100">
        <button type="submit" class="btn btn-submit">
          Save Campaign
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</ng-template>

<!-- Update -->
<ng-template #editCampaignTemplate let-dialog>
  <div class="modalHeaderContainer">
    <h2 mat-dialog-title class="p-0">Update Campaign Details</h2>

    <div class="closeBtn">
      <button type="button" mat-dialog-close class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <form [formGroup]="editCompaignForm" (ngSubmit)="updateCompaignDetails()">
    <mat-dialog-content class="modalContent">
      <div class="modal-body custom-modal-body">
        <div class="card">
          <div class="card-body">
            <div class="new-employee-field">
              <div class="card-title-head">
                <h6>
                  <span><i class="feather icon-info feather-edit"></i></span>
                  Campaign Details
                </h6>
              </div>

              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Campaign Type</label>
                    <input class="form-control" type="text" formControlName="campaignType" />
                  </div>
                </div>

                <div class="col-lg-4 col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Campaign Name</label>
                    <input class="form-control" type="text" formControlName="campaignName" />
                  </div>
                </div>

                <div class="col-lg-4 col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Campaign Channel</label>
                    <!-- <input class="form-control" type="text" formControlName="campaignChannel" /> -->
                    <!-- <div class="col-sm-3 form-group">
                        <label class="form-label">Campaign Channel</label> -->
                    <mat-select formControlName="campaignChannel" class="select" placeholder="Select Campaign Channel">
                      <mat-option value="EMAIL">Email</mat-option>
                      <mat-option value="WHATSAPP">Whats App</mat-option>
                      <mat-option value="SMS">SMS</mat-option>
                    </mat-select>
                    <!-- </div> -->
                  </div>
                </div>

                <div class="col-10">
                  <label class="form-label">subject</label>
                  <input class="form-control" type="text" formControlName="subject" />
                </div>

                <div class="col-12">
                  <label class="form-label">Message</label>

                  <div class="editor-wrapper">
                    <!-- <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu> -->

                    <ngx-editor [editor]="editor" formControlName="description" class="editor-container">
                    </ngx-editor>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions class="dialogAction">
      <div class="text-end mb-3 w-100">
        <button type="submit" class="btn btn-submit">
          Update Campaign
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</ng-template>


<!-- Delete -->
<ng-template #deleteTemplate let-dialog>

  <div class="modalHeaderContainer">
    <h2 mat-dialog-title>Delete Campaign</h2>
  </div>

  <div mat-dialog-content>

    <p>Are you sure you want to delete this campaign?</p>

    <div class="alert alert-danger">
      <strong>Warning!</strong><br>
      After deleting this campaign, it cannot be recovered.
    </div>

  </div>

  <div mat-dialog-actions align="end">

    <button class="btn btn-secondary" (click)="deleteMsgCampaignDialog.close()">
      Cancel
    </button>

    <button class="btn btn-danger ms-2" (click)="deleteSelectedCampaign()">
      Delete
    </button>

  </div>

</ng-template>