<!-- <p-toast></p-toast> -->





<div class="card">
    <div class="card-body">
        <div class="new-employee-field">
            <div class="card-title-head">
                <h6>
                    <span><i class="feather icon-info feather-edit"></i></span>Add Payment Mode
                </h6>
            </div>

            <div class="row">
  <div class="col-lg-3 col-sm-6 col-12">
    <div class="table-responsive">
      <table matSort class="table datanew">
        <thead>
          <tr>
            <th></th>
            <th mat-sort-header="userName">Mode</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of masterPaymentModeList">
            <td></td>
            <td>
              <mat-checkbox
                [checked]="isChecked(data.id)"
                (change)="toggleSelection(data.id)">
                {{ data.paymentMode }}
              </mat-checkbox>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

              


        </div>
    </div>
</div>