<p-toast></p-toast>
<div class="account-content">
    <div class="login-wrapper bg-img">
        <div class="login-content">

            <!-- <form> -->
            <form [formGroup]="sendOtpForm" (ngSubmit)="sendOtp()">
                <div class="login-userset">
                   <div class="login-userheading">
                       <h3>Forgot password?</h3>
                       <h4>Reset your password by enter your login id</h4>
                   </div>
                  <div class="form-login small-width">
                        <label>Login id</label>
                        <div class="form-addons">
                            <input type="text" class="form-control" formControlName="mobileNo" required>
                            <img src="assets/img/icons/user-icon.svg" alt="img">
                        </div>
                    </div>

                    <div class="form-login small-width">
                        <button type="submit" class="btn btn-login">
                            Submit
                        </button>
                    </div>
                   <div class="signinform text-center">
                       <h4>Return to<a [routerLink] = "routes.signIn" class="hover-a"> login </a></h4>
                   </div>
                   <div class="form-setlogin or-text">
                       <!-- <h4>OR</h4> -->
                   </div>
                   <div class="form-sociallink">
                       <!-- <ul class="d-flex justify-content-center">
                           <li>
                               <a href="javascript:void(0);" class="facebook-logo">
                                   <img src="assets/img/icons/facebook-logo.svg" alt="Facebook">
                               </a>
                           </li>
                           <li>
                               <a href="javascript:void(0);">
                                   <img src="assets/img/icons/google.png" alt="Google">
                               </a>
                           </li>
                           <li>
                               <a href="javascript:void(0);" class="apple-logo">
                                   <img src="assets/img/icons/apple-logo.svg" alt="Apple">
                               </a>
                           </li>
                           
                       </ul> -->
                   </div>
                   <div class="my-4 d-flex justify-content-center align-items-center copyright-text">
                        <p>Copyright &copy; 2026 Datfuslab Technologies. All rights reserved</p>
                    </div>
               </div>
            </form>
        </div>
    </div>
</div>