.login-userset {
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
}

form {
    width: 100%;
}

.copyright-message {
    text-align: center;

    span + span::before {
        content: ' ';
    }
}

@media (max-width: 575.98px) {
    .login-userheading {
        text-align: center;
    }

    .copyright-text {
        margin-top: 2rem !important;
    }

    .copyright-message {
        max-width: none !important;
        width: 100%;

        span {
            display: block;
            white-space: nowrap;
        }

        span + span::before {
            content: none;
        }
    }
}
