<form [formGroup]="addInvoiceHeaderForm" (ngSubmit)="saveInvoiceHeader()">
    <div class="card">
        <div class="card-body">
            <div class="new-employee-field">
                <div class="card-title-head">
                    <h6>
                        <span><i class="feather icon-info feather-edit"></i></span>Receipt Header Details
                    </h6>
                </div>


                <div class="row">
                    <div class="col-sm-4 form-group">
                        <mat-select class="space-select select" formControlName="superadminId"  (selectionChange)="getInvoiceHeaderList($event.value, 'BYSUPERADMINID')" placeholder="Select Superadmin">
                            <mat-option *ngFor="let userList of superadminList" [value]="userList.loginId">
                                {{ userList.firstName + ' ' + userList.lastName }}
                            </mat-option>
                        </mat-select>
                    </div>
                
                    <div class="col-sm-4 form-group">
                        <mat-select class="space-select select" formControlName="id"  (selectionChange)="getInvoiceHeaderById($event.value,'BYID')" placeholder="Select Invoice">
                            <mat-option *ngFor="let invoiceList of invoiceHeaderList" [value]="invoiceList.id">
                                {{ invoiceList.companyFirstName + ' ' + invoiceList.companyLastName }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>


                <div class="profile-pic-upload">
                    <div class="profile-pic">
                      <ng-container *ngIf="!addInvoiceHeaderForm.get('companyLogo')?.value; else showImage">
                        <span><i class="feather icon-plus-circle plus-down-add"></i> Ngo Logo</span>
                      </ng-container>
                      <ng-template #showImage>
                        <img [src]="'data:image/png;base64,' + addInvoiceHeaderForm.get('companyLogo')?.value" alt="Logo"
                          class="uploaded-profile-pic" />
                      </ng-template>
                    </div>
                    <div class="input-blocks mb-0">
                      <div class="image-upload mb-0">
                        <input type="file" class="form-control" id="companyLogo" accept="image/*" (change)="onFileSelected($event)" />
                        <div class="image-uploads">
                          <h4>Change Image</h4>
                        </div>
                      </div>
                    </div>
                  </div>


                <!-- <div class="row">
                    <div class="col-sm-4 form-group">
      
                      <img src="{{logo}}" width="200" height="200">
                    </div>
                  </div> -->
                <div class="row">
                    <!-- <div class="col-sm-2 form-group">
                        <label class="form-label">Logo</label>
                        <input class="form-control" type="file" (change)="onFileSelected($event)" accept="image/*">
                    </div> -->
                    <div class="col-sm-2 form-group">
                        <label class="form-label">Invoice Initial</label>
                        <input class="form-control" type="text" pInputText formControlName="invoiceInitial" maxlength="100">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="form-label">Background Color</label>
                        <input class="form-control" type="color" pInputText formControlName="backgroundColor" maxlength="100">
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label class="form-label">First Name</label>
                        <input class="form-control" type="text" pInputText formControlName="companyFirstName" maxlength="100">
                    </div>
                    <div class="col-sm-2 form-group">
                        <label class="form-label">First Name Color</label>
                        <input class="form-control" type="color" pInputText formControlName="companyFirstNameColor" maxlength="100">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="form-label">Last Name</label>
                        <input class="form-control" type="text" pInputText formControlName="companyLastName" maxlength="100">
                    </div>
                    <div class="col-sm-2 form-group">
                        <label class="form-label">Last Name Color</label>
                        <input class="form-control" pInputText type="color" formControlName="companyLastNameColor" maxlength="100">
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label class="form-label">Reg Address</label>
                        <input class="form-control" pInputText type="text" formControlName="regAddress" maxlength="100">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="form-label">Office Address</label>
                        <input class="form-control" pInputText type="text" formControlName="officeAddress" maxlength="100">
                    </div>
                </div>
    
    
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label class="form-label">Mobile Number</label>
                        <input class="form-control" pInputText type="text" formControlName="mobileNo" maxlength="50">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="form-label">Alternate Mobile</label>
                        <input class="form-control" pInputText type="text" formControlName="alternateMobile" maxlength="50">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="form-label">Email Id</label>
                        <input class="form-control" pInputText type="text" formControlName="emailId" maxlength="50">
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label class="form-label">Pan Number<span style="font-size: 20px; color: red;">*</span></label>
                        <input class="form-control" pInputText type="text" formControlName="panNumber" maxlength="10">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="form-label">GST Number<span style="font-size: 20px; color: red;">*</span></label>
                        <input class="form-control" pInputText type="text" formControlName="gstNumber" maxlength="50">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="form-label">Website<span style="font-size: 20px; color: red;">*</span></label>
                        <input class="form-control" pInputText type="text" formControlName="website" maxlength="50">
                    </div>
                </div>
    
                <div class="inner-header">Bank Details</div>
    
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label class="form-label">Account Holder Name</label>
                        <input class="form-control" pInputText type="text" formControlName="accountHolderName" maxlength="50">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="form-label">Account Number</label>
                        <input class="form-control" pInputText type="text" formControlName="accountNumber" pKeyFilter="int" pattern="[0-9]*" maxlength="50">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="form-label">IFSC Code</label>
                        <input class="form-control" pInputText type="text" formControlName="ifscCode" maxlength="50">
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label class="form-label">Bank Name</label>
                        <input class="form-control" pInputText type="text" formControlName="bankName" maxlength="50">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="form-label">Branch Name</label>
                        <input class="form-control" pInputText type="text" formControlName="branchName" maxlength="50">
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="form-label">Thank You Notes</label>
                        <textarea class="form-control" formControlName="thankYouNote" placeholder="Leave a comment here" rows="4"></textarea>
                    </div>    

                    <div class="col-12 col-md-8 col-lg-12 form-group">
                        <label class="form-label">Thank You Notes</label>
                        <ngx-editor class="form-control editor-container" formControlName="thankYouNote" [editor]="editor">
                            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                        </ngx-editor>
                    </div>
                    
                </div>
    
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="form-label">Footer</label>
                        <!-- <textarea style=" float: left; width: 100%; margin-top: 6px; height:150px" formControlName="footer" placeholder="Write Footer.."></textarea> -->
                        <textarea class="form-control" formControlName="footer" placeholder="Leave a comment here" rows="2"></textarea>
                        
                    </div>    

                    <!-- <div class="col-lg-12">
                        <label class="form-label">Reason</label>
                        <ngx-editor class="form-control" formControlName="footer" [editor]="editor">
                            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                        </ngx-editor>
                    </div> -->

                </div>

         
            </div>
        </div>
    </div>
    <div class="text-mid mb-3">
        <button type="submit" class="btn btn-submit">Save Info</button>
    </div>
</form>