<div class="table-footer">
  <div class="dataTables_length">
    <label>

    </label>
  </div>
  <div class="pagination">
    <div class="entries"> Showing
      {{ limit }}  of
      {{ totalData }} Results
    </div>
    <div class="col-sm-12 col-md-7">
      <div class="pagination_section">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{
              disabled: currentPage === 1
            }">
            <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);" tabindex="-1"><i
                class="fa fa-angle-left"></i></a>


          </li>

          <!-- @for (item of pageNumberArray; track item; let i = $index) {
          <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                (pageNumberArray[currentPage - 2] > item &&
                  item !==  1 &&
                  pageNumberArray.length > 6) ||
                (pageNumberArray[currentPage] < item &&
                  item !==  1 &&
                  pageNumberArray.length > 6 &&
                  pageNumberArray.length !==  item)
                  ? 'hide-page-no'
                  : 'show-page-no'
              ">
            <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
              {{ item }}
            </a>
          </li>
          @if (i === 0 && pageNumberArray.length > 6 && currentPage > 2) {
          <li class="page-item" [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)">
            <a class="page-link" href="javascript:void(0);"> ... </a>
          </li>
          }
          @if (
          i === pageNumberArray.length - 2 && pageNumberArray.length > 6
          ) {
          <li [hidden]="
                currentPage >= pageNumberArray[pageNumberArray.length - 2] ||
                totalData < serialNumberArray[serialNumberArray.length - 1]
              " class="page-item" (click)="moveToPage(currentPage + 2)">
            <a class="page-link" href="javascript:void(0);"> ... </a>
          </li>
          }
          } -->

          @for (item of pageNumberArray; track item; let i = $index) {
            <!-- Display the first 4 pages or the last 2 pages -->
            @if (i < 4 || i >= pageNumberArray.length - 2 || (item === currentPage - 1 || item === currentPage || item === currentPage + 1)) {
              <li class="page-item" [class.active]="item === currentPage">
                <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                  {{ item }}
                </a>
              </li>
            }
          
            <!-- Ellipsis after the first 4 pages -->
            @if (i === 4 && currentPage > 5) {
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0);">...</a>
              </li>
            }
          
            <!-- Ellipsis before the last 2 pages -->
            @if (i === pageNumberArray.length - 3 && currentPage < pageNumberArray.length - 3) {
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0);">...</a>
              </li>
            }
          }

          <li class="page-item" [ngClass]="{
              disabled:
                currentPage === pageNumberArray[pageNumberArray.length - 1] ||
                tableData.length === 0
            }">
            <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);"><i
                class="fa fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>